LOCAL=true

DATABASE_URL=postgresql://aefeup:aefeup@127.0.0.1:5432/website-ae-db

PAYLOAD_SECRET=<FILL-IN>

RESEND_API_KEY=<FILL-IN>
RESEND_EMAIL=no-reply@aefeup.pt

GOOGLE_CALENDAR_API_KEY=<FILL-IN>
GOOGLE_CALENDAR_ID=<FILL-IN>

POSTGRES_USER=aefeup
POSTGRES_PASSWORD=aefeup
POSTGRES_DB=website-ae-db

IF_THEN_PAY_API_KEY=<FILL-IN>
